<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My bads...</title>

  <script src="https://kit.fontawesome.com/48e723b064.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://ablyv-dev.azurewebsites.net/static/css/landing.css" />
</head>
<body>
  <div class="hero-container">
      <div class="hero-div-container">
          <div class="hero-div">
              <h1>We Apologize...</h1>
              <p>This route does not exist or an error has occurred.</p>
              <br />
              <a onclick="window.history.back();">Go Back&nbsp;&nbsp;<i class="fa-solid fa-arrow-right"></i></a>
          </div>
      </div>
  </div>
</body>
</html>